<a href="https://colab.research.google.com/github/Minhaz78/Machine-Learning-Practice/blob/main/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Libries

In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import seaborn as sns

# Mount Google Drive

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Reading Dataset

In [7]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/dataset/dataset/Social_Network_Ads.csv')
df.head(10)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0
5  15728773    Male   27            58000          0
6  15598044  Female   27            84000          0
7  15694829  Female   32           150000          1
8  15600575    Male   25            33000          0
9  15727311  Female   35            65000          0

## Shape

In [5]:
df.shape

(400, 5)

## Null value check

In [9]:
df.isnull().values.any()

False

In [10]:
count_NaN = df.isnull().sum()
print ('Count of NaN: ' + str(count_NaN))

Count of NaN: User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

## Lebel Separation

In [11]:
x, y = df.iloc[:, :-1], df.iloc[:, [-1]]

In [12]:
x

      User ID  Gender  Age  EstimatedSalary
0    15624510    Male   19            19000
1    15810944    Male   35            20000
2    15668575  Female   26            43000
3    15603246  Female   27            57000
4    15804002    Male   19            76000
..        ...     ...  ...              ...
395  15691863  Female   46            41000
396  15706071    Male   51            23000
397  15654296  Female   50            20000
398  15755018    Male   36            33000
399  15594041  Female   49            36000

[400 rows x 4 columns]

In [13]:
y

     Purchased
0            0
1            0
2            0
3            0
4            0
..         ...
395          1
396          1
397          1
398          0
399          1

[400 rows x 1 columns]

# Train and Test Data Split With Sklearn

In [17]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=5)

In [18]:
X_train

      User ID  Gender  Age  EstimatedSalary
24   15705113    Male   46            23000
33   15776733  Female   28            44000
396  15706071    Male   51            23000
273  15589449    Male   39           106000
246  15638003  Female   35            50000
..        ...     ...  ...              ...
73   15782530  Female   33           113000
118  15642725    Male   40            59000
189  15715160    Male   28            32000
206  15654230  Female   55           130000
355  15606472    Male   60            34000

[300 rows x 4 columns]

In [19]:
X_test

      User ID  Gender  Age  EstimatedSalary
218  15666675  Female   46            96000
191  15662067  Female   19            26000
117  15591433    Male   36            52000
50   15694395  Female   24            32000
348  15579212    Male   39            77000
..        ...     ...  ...              ...
368  15779744    Male   38            71000
89   15682268    Male   35            50000
182  15694288  Female   32           117000
219  15732987    Male   59           143000
18   15704583    Male   46            28000

[100 rows x 4 columns]